In [11]:
from pyspark.sql import SparkSession
from datetime import datetime
from pyspark.sql.types import *
import pandas as pd
import pyspark.sql.functions as f 

def spark_run(file_name):
    SCHEMA = StructType([StructField('key', IntegerType(), False),
                         StructField('value', IntegerType(), False),])
    spark = SparkSession.builder \
        .appName("Spark Benchmarking") \
        .getOrCreate()
    file_vals = spark\
        .read\
        .load(file_name, format="csv", header='true', schema=SCHEMA)\
        .groupby("key")\
        .agg(f.mean(f.col("value")))
   
    print(file_vals.head(5))

    del spark
    del file_vals
    
%timeit spark_run('./data/sample_file_9.csv')

[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
[Row(key=148, avg(value)=413.5625), Row(key=463, avg(value)=450.0625), Row(key=471, avg(value)=464.484375), Row(key=496, avg(value)=425.34375), Row(key=833, avg(value)=439.0625)]
1min 51s ± 1.38 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [2]:
import pandas as pd
import glob
def pandas_run(file_name):
    file_vals = pd.read_csv(file_name, sep=",", header=0)
    file_vals = file_vals.groupby("key")["value"].transform('mean')
    print(file_vals.head(5))
    del file_vals
  
for filename in glob.glob('./data/*.csv'):
    print(filename)
    %timeit pandas_run(filename)

./data/sample_file_1.csv
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
Name: value, dtype: float64
402 ms ± 11.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_2.csv
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
Name: value, dtype: float64
615 ms ± 22.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_3.csv
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
Name: value, dtype: float64
1.22 s ± 31.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_7.csv
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
16.5 s ± 298 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_6.csv
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
8.15 s ± 207 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_4.csv
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
Name: value, dtype: float64
1.97 s ± 31 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_5.csv
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
Name: value, dtype: float64
4.3 s ± 129 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_8.csv
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
33.9 s ± 522 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_9.csv
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
Name: value, dtype: float64
1min 40s ± 5.13 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [1]:
from pyspark.sql import SparkSession
SparkSession.builder \
        .appName("Spark Benchmarking") \
        .master('local[16]')\
        .config("spark.driver.memory", '10g')\
        .getOrCreate()

import databricks.koalas as ks
import glob
def koalas_run(file_name):
    file_vals = ks.read_csv(file_name, sep=",", header=0)
    file_vals = file_vals.groupby("key").mean()
    print(file_vals.head(5))
    del file_vals
  
for filename in glob.glob('./data/*.csv'):
    print(filename)
    %timeit koalas_run(filename)

./data/sample_file_1.csv
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
1.88 s ± 182 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_2.csv
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
      value
key
0    359.75
1    639.50
2    342.50
3    545.75
4    525.25
2.69 s ± 101 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_3.csv
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
       value
key
0    361.000
1    342.625
2    441.125
3    458.625
4    428.875
4.88 s ± 132 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_7.csv
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
1min 3s ± 7.19 s per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_6.csv
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
29.3 s ± 1.33 s per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_4.csv
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
        value
key
0    492.3125
1    503.6875
2    326.7500
3    448.5000
4    532.1250
9.86 s ± 561 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_5.csv
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
         value
key
0    422.59375
1    408.18750
2    492.71875
3    443.12500
4    491.46875
16.2 s ± 1.08 s per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_8.csv
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
1min 58s ± 4.31 s per loop (mean ± std. dev. of 7 runs, 1 loop each)
./data/sample_file_9.csv
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
          value
key
0    467.328125
1    483.484375
2    482.437500
3    435.484375
4    457.203125
3min 36s ± 10.7 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions  as f
SparkSession.builder \
        .appName("Spark Benchmarking") \
        .master('local[16]')\
        .config("spark.driver.memory", '10g')\
        .getOrCreate()

import databricks.koalas as ks
import glob
def koalas_run(file_name):
    file_vals = ks.read_csv(file_name, sep=",", header=0)
    file_vals = file_vals\
        .groupby("key")\
        .mean()
    print(file_vals.head(5))
    del file_vals
  
for filename in glob.glob('./data/*.csv'):
    print(filename)
    %timeit koalas_run(filename)

./data/sample_file_1.csv
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0
     value
key
0    662.0
1    785.5
2    417.5
3    534.5
4    381.0